#header
  background: url("../img/heroBackground.jpg") no-repeat;
  background-size: cover
  height: 700px
  color: white!important
  text-align: center
  overflow: hidden

  @media screen and (max-width: 680px) 
    height: 500px
  

  img 
    max-width: 500px
    width: 100%
    he

  article
    width: 80%
    margin: 0 auto

    @media screen and (max-width: 680px)
      width: 100% 
  
  h1 
    margin-bottom: 10px
    @media screen and (max-width: 680px) 
      margin-top: 60px
  
  p
    font-weight: 300
    @media screen and (max-width: 680px) 
      margin-bottom: 60px

#brands ul
  padding: 20px 0
  background: white
  display: grid 
  grid-template-columns: repeat(6, auto)
  @media only screen and (max-width: 550px)
    grid-template-columns: repeat(3, auto)
  
  li
    list-style: none 
  li img 
    width: 100%
